/* general styles */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Abel', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #cfa8e3;
  transition: all .35s;
}

a:hover, a:focus {
  color: #cfa8e3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abel', 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 30px;
}
/* Navigation styles */
#mainNav {
    background-color: white;
    
    font-family: 'Abel', 'catamaran', 'Helvetica', 'Arial', 'sans-serif';
  }
  #mainNav .navbar-brand {
    font-family:'Abel', 'catamaran', 'Helvetica', 'Arial', 'sans-serif';
    color: black;
    font-weight: 300;
    
  } 
  #mainNav .navbar-brand:hover,
  #mainNav .navbar-brand:focus {
    color: #cfa8e3;
  }
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #cfa8e3;
  } 
  #mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Abel', 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  #mainNav .navbar-nav > li > a.active {
    color: #cfa8e3 !important;
    background-color: transparent;
  }
  #mainNav .navbar-nav > li > a.active:hover {
    background-color: transparent;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #cfa8e3;
  }

  /* Hero section */
  header.masthead {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    background: url('../images/purple-background.jpg')
  }
  header.masthead .header-content {
    max-width: 0px;
    margin-bottom: 100px;
    text-wrap: nowrap;
    text-align: center;
  }
  header.masthead .header-content h1 {
    font-size: 30px;
  }
  
  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
  }
  header.masthead .device-container .img-fluid {
    border-radius: 3px;
  }
 
  /* Work section */

.work-section {
    padding-top: 5rem;
}
.work-section .card {
  border: 0;
  border-bottom: 0.25rem solid #800080;
}
.work-section .card h5 {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.sectionHeading1 {
  max-width: 100px;
  margin: 25px auto 0;
  text-align: center;
  border-bottom: 3px solid #800080;
  padding-bottom: 3px;
  text-wrap: nowrap;

}
.card {
  padding-top: 5rem;
  height: 100%;
}

/* about/skills */

.about {
  background-color: #800080;
  
}
.sectionHeading2 {
  max-width: 100px;
  margin: 0 auto 20px;
  text-align: center;
  border-bottom: 3px solid #cfa8e3;
  padding-bottom: 3px;
  text-wrap: nowrap;
  color: white;
  padding-top: 0.05rem;
}
.row-valueProp {
  margin-top: 10px;
  margin-bottom: 15px;
}
.sideAccent {
  background: #cfa8e3;
  width: 15px;
}
.imageContainer {
  padding: 50px;
}
.imageContainer img {
  width: 100%;
}
.about-text {
  text-align: center;
  margin-left: 15px;
  color: white;
  padding-top: 25px;
}
/* skills section */

.sectionHeading3 {
  max-width: 100px;
  margin: 50px 160px 30px;
  text-align: center;
  border-bottom: 3px solid #cfa8e3;
  padding-bottom: 3px;
  text-wrap: nowrap;
  color: white;
  padding-top: 0.05rem;
}
.bar {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  width:50%;
  text-align: center;
}

.progress {
  background-color: white;
  border-radius: 15px;
  box-shadow: none;  
  margin: 25px;
}

.progress-bar {
  background-color: #cfa8e3;
  box-shadow: none;
}

.text-right {
  text-align: right;
  color: black;
  margin-right: 10px;
}
.text-left {
  font-size: 15px;
}

/* contact section */

.contact-section {
  padding-top: 5rem;
}
.contact-section .card {
  border: 0;
  border: 0.001rem solid black;
  border-bottom: 0.25rem solid #cfa8e3;
}
.contact-section .card h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #cfa8e3;
  border-width: 0.25rem;
  width: 3rem;
}

.text-primary {
  color:#800080;
}


/* footer */

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}



.btn {
  box-shadow: 10px 5px 5px #cfa8e3 !important;
  padding: 1.25rem 2rem;
  font-family: 'Abel', 'Helvetica', 'Arial', 'sans-serif'; 
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}
.btn-outline {
  color: black;
  border: 1px solid;
  border-color: white;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  border-color: #800080;
  background-color: #cfa8e3;
}
.btn {
  border-radius: 300px;
  font-family: 'Abel', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}
